Repository mysensors/MySensors, pull requests merged in 2018-05, with the labels that each got.

#1110 Consolidate WiFi defines
  MyConfig.h
  core/MyGatewayTransportEthernet.cpp
  core/MyGatewayTransportMQTTClient.cpp
  examples/GatewayESP32/GatewayESP32.ino
  examples/GatewayESP32MQTTClient/GatewayESP32MQTTClient.ino
  examples/GatewayESP8266/GatewayESP8266.ino
  examples/GatewayESP8266MQTTClient/GatewayESP8266MQTTClient.ino
  examples/GatewayESP8266OTA/GatewayESP8266OTA.ino
  keywords.txt
Labels: ESP32, ESP8266, documentation

#1113 Add sleep forever by sleep(0);
  hal/architecture/AVR/MyHwAVR.cpp
Labels: AVR, bug

#1099 Fix RFMxx deadlock and minor optimization
  drivers/RFM69/new/RFM69_new.cpp
  drivers/RFM95/RFM95.cpp
Labels: RFM69, RFM95

#1116 Add transport sanity check before entering loop()
  core/MySensorsCore.cpp
Labels: enhancement

#1133 Refine cppcheck analysis
  .ci/static_analysis.groovy
  .mystools/cppcheck/config/suppressions.cfg
Labels: CI

#1054 Add software AES encryption to RFM95 transport HAL
  MyConfig.h
  configure
  core/MyCapabilities.h
  hal/transport/RFM95/MyTransportRFM95.cpp
  keywords.txt
  tests/Arduino/sketches/hard_signing_whitelisting_full_debug_rfm95_rsa/hard_signing_whitelisting_full_debug_rfm95_rsa.ino
Labels: RFM95, release-notes, security
