Repository mysensors/MySensors, pull requests merged in 2018-08, with the labels that each got.

#1169 ESP8266: Updates to support 2.4.2 board defs
  .ci/arduino.groovy
  drivers/RF24/RF24.cpp
  hal/architecture/ESP8266/MyMainESP8266.cpp
Labels: ESP8266

#1181 GW: Send discovery message after startup
  core/MyTransport.cpp
Labels: enhancement

#1174 Direct node2node traffic
  core/MyTransport.cpp
  core/MyTransport.h
  examples/Node2Node/Node2Node.ino
Labels: enhancement

#1178 Introduce CryptoHAL, optimize crypto functions
  MyASM.S
  MySensors.h
  core/MySigning.cpp
  core/MySigning.h
  core/MySigningAtsha204Soft.cpp
  drivers/ATSHA204/sha256.cpp
  drivers/ATSHA204/sha256.h
  examples/SecurityPersonalizer/SecurityPersonalizer.ino
  hal/architecture/AVR/MyHwAVR.h
  hal/architecture/ESP32/MyHwESP32.h
  hal/architecture/ESP8266/MyHwESP8266.h
  hal/architecture/Linux/MyHwLinuxGeneric.h
  hal/architecture/NRF5/MyHwNRF5.cpp
  hal/architecture/NRF5/MyHwNRF5.h
  hal/architecture/SAMD/MyHwSAMD.h
  hal/architecture/STM32F1/MyHwSTM32F1.h
  hal/architecture/Teensy3/MyHwTeensy3.h
  hal/crypto/AVR/MyCryptoAVR.cpp
  hal/crypto/AVR/MyCryptoAVR.h
  hal/crypto/ESP32/MyCryptoESP32.cpp
  hal/crypto/ESP32/MyCryptoESP32.h
  hal/crypto/MyCryptoHAL.h
  hal/crypto/generic/MyCryptoGeneric.cpp
  hal/crypto/generic/MyCryptoGeneric.h
Labels: enhancement

#1185 RFM69 frequency band for India - 865MHz
  MyConfig.h
  configure
  drivers/RFM69/new/RFM69_new.h
Labels: RFM69

#1189 RF24: Fix RX issue regarding PA+LNA modules
  drivers/RF24/RF24.cpp
Labels: RF24

#1188 AVR: Fix variable scope in SHA256 ASM
  core/MySigningAtsha204Soft.cpp
  hal/architecture/AVR/MyHwAVR.h
  hal/crypto/AVR/MyCryptoAVR.h
Labels: AVR, bug, security

#1191 Improve transport function & debug messages
  core/MyGatewayTransport.cpp
  core/MySensorsCore.cpp
  core/MySensorsCore.h
  core/MyTransport.cpp
  core/MyTransport.h
Labels: enhancement

#1197 Inclusion mode: change pinmode to INPUT_PULLUP
  core/MyInclusionMode.cpp
Labels: bug

#1192 Nrf24 lowlevel
  drivers/RF24/RF24.cpp
  drivers/RF24/RF24.h
  drivers/RF24/RF24registers.h
Labels: RF24

#1193 RF24: Add delay after power-up
  drivers/RF24/RF24.cpp
Labels: RF24, enhancement

#1199 Update Jenkins to use Arduino 1.8.6
  .ci/arduino.groovy
Labels: CI
